doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="description" content="CarGo - Automotive Maintenance Tracker")
    title CarGo - Automotive Maintenance Tracker
    link(rel="stylesheet" href="/css/bootstrap.min.css")
    link(rel="stylesheet" href="/css/bootstrap-icons.min.css")
    link(rel="stylesheet" href="/css/app.css")
    script(src="/js/chart.js/chart.umd.js")
    script(src="/js/luxon/luxon.min.js")
    script(src="/js/chartjs-adapter-luxon/chartjs-adapter-luxon.umd.min.js")
  body
    nav.navbar.navbar-dark.bg-dark.navbar-expand-lg.mb-3.fixed-top
      .container-fluid
        a.navbar-brand(href="/")
          img(src="/CarGo.svg" height="36" alt="CarGo Logo")
          |  CarGo

    .content
      block content

    script(src="/js/bootstrap/bootstrap.bundle.min.js")
